<menu-principal></menu-principal>
<div class="wrapper">
    <div class="content-wrapper">

        <section class="content">


            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Escolha</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <small>Coloque aqui o grupo ao qual está inserido</small>
                            <div class="form-group">
                                <input list="browsers" placeholder="Grupo" style="width: 100%;">

                                <datalist id="Generos alimenticios">
                                    <option value="Frete de veiculos">
                                        <option value="Alimentos para presidio">
                                            <option value="Alimentos para hospitais">
                                                <option value="Operações de transito">
                                                    <option value="Desjejum">
                                </datalist>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label for="desc">
                                    <small>Descreva alguns detalhes do índice</small>
                                    <textarea class="textarea" placeholder="descrição" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px; resize: none;"></textarea>
                                </label>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon">.00</span>
                                
                                
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                        
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                    </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="form-group">
                        <input type="submit" class="col-md-12 btn btn-lg btn-success pull-left">
                    </div>
                </div>
            </div>


        </section>
    </div>
</div>
<rodape-principal></rodape-principal>


<!-- <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Novo contrato</h3>
                <h4>Insira aqui um novo contrato!</h4>
                <p>Você só precisa informar o nome do contrato, é simples!</p>


            </div>
            <form novalidate class="row" name="formulario" ng-submit="submeter()">
                <div class="box-body">

                    <div class="form-group col-lg-8 col-xs-8">
                        <label>Nome</label>
                        <input name="nome" class="form-control " ng-model="contrato.nome"></input>
                    </div>
                    <div class="form-group col-lg-8 col-xs-8">
                        <label>Numero</label>
                        <input name="numero" type="number" class="form-control" ng-model="contrato.numero"></input>
                    </div>

   
                </div>
                /.box-body
                <div class="box-footer col-lg-8 col-xs-8">
                    <a href="/" class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>

                </div>
                /.box-footer
            </form>
        </div> -->
